*
{
	padding: 0px;
	margin: 0px;
}

body
{
	font-family: Arial Rounded MT Bold;
	font-size: 22px;
	color: black;
}

#full-screen-area
{
	width: 320px;
	height: 460px;
	background-color: yellow;
	background-image: url('../images/celticstall.png'); 

	
	/* background-image: url('../images/ddbackground-1.png');	*/
}


#ball-area
{
	width: 320px;
	height: 430px;
}

#score-area
{
	font-size: 12px;
	text-align: right;
	color: white;
}

.bball
{
	width: 40px;
	height: 40px;
	margin: 20px;
}

#ball-1
{
	background-image: url('../images/fractionball1.png');
}

#ball-2
{
	background-image: url('../images/fractionball2.png');
}

#ball-3
{
	background-image: url('../images/fractionball3.png');
}

.ball-fraction
{
	font-size: 16px;
}

.ball-fraction-top
{
	position: relative;
	top: 10px;
	left: 10px;
}


ball-1-num-1
{

}


#baseboard-area
{
	width: 320px;
	height: 30px;
	background-image: url('../images/baseboardlight-1.png');	
}

.baseboard-num
{
	float: left;
	margin-left: 8px;
	margin-right: 8px;
	text-align: center;
	line-height: 30px;
}

#left-baseboard-num
{

}



#baseboard-buffer
{
	width: 240px;
}

#right-baseboard-num
{

}

#baseboard-num
{

}

#answer-area, #player-score-area
{
	width: 320px;
	height: 50px;
	line-height: 50px;
	text-align: center;

}

.response-box
{
	width: 200px;
	height: 50px;
	
	border: 2px dashed #000099;
	background-color: green;
	-webkit-border-radius: 8px; 
	
	text-align: center;
	line-height: 50px;   /* hacky hack to make it centered height-wise  */
	
	margin: 25px;
}

.floatleft
{
	float: left;
}


#close-enough
{
	background-color: yellow;
}

#wrong
{
	background-color: red;
}