*
{
	padding: 0px;
	margin: 0px;
}

#full-screen-area
{
	background-color: white;
	width: 320px;
	height: 460px;
}

#axis-left {
	
}

#axis-right {
	left: 200px;
}

.axis-button {
	position: absolute;
	height: 20px;
	border: 1px solid green;
	text-align: center;
	line-height: 20px;
}

.duck
{
	background-image: url('../images/duck.png');
	width: 50px;
	height: 48px;
	
	font-family: Helvetica;
	font-size: 28pt;
	text-align: center;
	line-height: 48px;

	position: absolute;
	top: 0px;
	left: 0px;
}
