*
{
	padding: 0px;
	margin: 0px;
}

.all-text{
	font-family: Helvetica;
	font-size: 24pt;
	text-align: center;
}

#home{
  background-image: url('../images/splashmenuwdirections.png');
}

#playmenu{
  top:  280px;
	left: 80px;
	position: absolute;
}

#preferencesmenu{
  top:  360px;
	left: 82px;
	position: absolute;
}

#howtoplaymenu{
    top:  385px;
	left: 97px;
	position: absolute;
}

#aboutmenu{
  top:  410px;
	left: 90px;
	position: absolute;
}

#settings{
  background-image: url('../images/splashmenublank.png');
}

#how-to-play{
  background-image: url('../images/splashmenublank.png');
}

#about{
  background-image: url('../images/aboutscreen.png');
}

#contactus{
	top:  8px;
	left: 265px;
	position: absolute;
}

#full-screen-area
{
	background-color: white;
	width: 320px;
	height: 480px;
}

#level-screen
{
	background-image: url('../images/level1bg.png');
	width: 320px;
	height: 431px;
	
	margin-top: 0px;
	position:   absolute;
}


.baseboardclass{
  height: 30px;
	
	margin-top: 400px;
	margin-left: 10px;
	position: absolute;
	
	border-style: solid;
	border-width: thin;
}

#baseboard
{
   background-color: white;
   width: 300px;
}

#answerboard
{
   background-color: white;
   width:   0px;
	 
   /*visibility: hidden;*/
}

#baseboard-message {
	position: absolute;
	top: 435px;
	width: 320px;
	height: 20px;
}

.dHint
{
  height: 30px;
	width:  1px;
	
	margin-top: 400px;
	margin-left:  0px;
	position: absolute;
	
	background-color: black;
}



#axis-left {
    
}

#axis-right {
    left: 200px;
}



#score {
    position: absolute;
	top: 10px;
	left: 210px;
	width: 100px;
	line-height: 28px;
	font-size: 28px;
	font-weight: bold;
	text-align: right;
	color: white;	
}

#level-div {
}


#blackarrowleft
{
	background-image: url('../images/blackarrowleft.png');
	width: 35px;
	height: 26px;

	margin-top: 433px;
	margin-left: 0px;
	position: absolute;
	
	visibility: hidden;
}

#blackarrowright
{
	background-image: url('../images/blackarrowright.png');
	width: 35px;
	height: 26px;

	margin-top: 433px;
	margin-left: 0px;
	position: absolute;
	
	visibility: hidden;
}

#uparrow {
	background-image: url('../images/uparrow.gif');
	width: 20px;
	height: 27px;

	margin-top: 432px;
	margin-left: 30px;
	position: absolute;
	
	visibility: hidden;
}

#baseMin
{
	margin-top: 430px;
	margin-left: 0px;
	position: absolute;
	line-height: 30px;
}

#baseMax
{
	margin-top: 430px;
	margin-left: 303px;
	position: absolute;
	line-height: 30px;
}

.numerHint
{
  margin-top: 430px;
	margin-left: 0px auto;
	
	width: 15px;
	position: absolute;
	
	font-family: Helvetica;
	font-size: 15pt;
	text-align: center;
}

.lineHint
{
  margin-top: 440px;
	margin-left: 0px;
	position: absolute;
}

.denomHint
{
  margin-top: 450px;
	margin-left: 0px auto;
	
	width: 15px;
	position: absolute;
	
	font-family: Helvetica;
	font-size: 15pt;
	text-align: center;
}


.ballClass
{
 /* Begins invisible */

	width: 40px;
	height: 40px;
	
	font-family: Helvetica;
	font-size: 28pt;
	text-align: center;
	line-height: 48px;

	position: absolute;
	top: 0px;
	left: 0px;
}

#numerator 
{
	top: -13px;
}

#denominator
{
	top: 8px;
}

#multiplication-problem 
{
	top: -4px;
}

.fraction-text 
{
	position: absolute;
	width: 40px;
	text-align: center;
	
	font-size: 12pt;
}

#pause-indicator {
	position: absolute;
	top:140px;
	left:0px;
	
	width: 320px;
	height: 60px;
}

#game-messageboard{
	position: absolute;
	top:250px;
	left:0px;
	
	width: 320px;
	height: 83px;
}

#game-over {
/*	position: absolute;
	top: 100px;
	left: 90px;
	width: 140px;
	height: 120px;
	border: 3px solid red;
	background: #0DBEFF;*/
	
   visibility: hidden; 
}

#game-over-graphic {
	background-image: url('../images/gameover.png');
	width: 233px;
	height: 74px;
	position: absolute;
	top: 105px;
	left: 20px;
}

#restart-level{
	top:170px;
	left:65px;
	position: absolute;
	width: 230px;
	height: 38px;
}

#restart-game{
	top:205px;
	left: 62px;
	position: absolute;
	width: 246px;
	height: 46px;
}

#go-home{
	top: 250px;
	left:66px;
	position: absolute;
	width: 229px;
	height: 42px;
}

/* Z-index of #mask must lower than #boxes .window */  
#mask {  
  margin-top:  65px;
	margin-left: 35px;
  position:absolute;  
  z-index:9000;  
  background-color:#000;  
  display:none;  
}  
    
#boxes .window {  
  margin-top:  65px;
	margin-left: 35px;
  position:absolute;  
  width:440px;  
  height:200px;  
  display:none;  
  z-index:9999;  
  padding:20px;  
}  
  
  
/* Customize your modal window here, you can add background image too */  
#boxes #dialog {  
  width:375px;   
  height:203px;  
}  

.scoretext{
  font-family: Helvetica;
	font-size: 20pt;
	text-align: center;
  color: white;
}
