*
{
	padding: 0px;
	margin: 0px;
}

.all-text{
	font-family: Helvetica;
	font-size: 24pt;
	text-align: center;
}

#home{
  background-image: url('../images/splashmenuwdirections.png');
}

#playmenu{
  top:  280px;
	left: 80px;
	position: absolute;
}

#preferencesmenu{
  top:  350px;
	left: 80px;
	position: absolute;
}

#howtoplaymenu{
    top:  385px;
	left: 97px;
	position: absolute;
}

#aboutmenu{
  top:  420px;
	left: 80px;
	position: absolute;
}

#settings{
  background-image: url('../images/splashmenublank.png');
}

#how-to-play{
  background-image: url('../images/splashmenublank.png');
}

#about{
  background-image: url('../images/aboutscreen.png');
}


#full-screen-area
{
	background-color: white;
	width: 320px;
	height: 480px;
}

#level-screen
{
	background-image: url('../images/level1bg.png');
	width: 320px;
	height: 431px;
	
	margin-top: 0px;
	position:   absolute;
}


.baseboardclass{
  height: 30px;
	
	margin-top: 400px;
	margin-left: 10px;
	position: absolute;
	
	border-style: solid;
	border-width: thin;
}

#baseboard
{
   background-color: white;
   width: 300px;
}

#answerboard
{
   background-color: white;
   width:   0px;
	 
   /*visibility: hidden;*/
}

#baseboard-message {
	position: absolute;
	top: 435px;
	width: 320px;
	height: 20px;
}

.dHint
{
  height: 30px;
	width:  1px;
	
	margin-top: 400px;
	margin-left:  0px;
	position: absolute;
	
	background-color: black;
}


#axis-left {
    
}

#axis-right {
    left: 200px;
}



#score {
    position: absolute;
	top: 10px;
	left: 210px;
	width: 100px;
	line-height: 28px;
	font-size: 28px;
	font-weight: bold;
	text-align: right;
	color: white;	
}

#level-div {
}


#blackarrowleft
{
	background-image: url('../images/blackarrowleft.png');
	width: 35px;
	height: 26px;

	margin-top: 433px;
	margin-left: 0px;
	position: absolute;
	
	visibility: hidden;
}

#blackarrowright
{
	background-image: url('../images/blackarrowright.png');
	width: 35px;
	height: 26px;

	margin-top: 433px;
	margin-left: 0px;
	position: absolute;
	
	visibility: hidden;
}

#uparrow {
	background-image: url('../images/uparrow.gif');
	width: 20px;
	height: 27px;

	margin-top: 432px;
	margin-left: 30px;
	position: absolute;
	
	visibility: hidden;
}

#baseMin
{
	margin-top: 430px;
	margin-left: 0px;
	position: absolute;
	line-height: 30px;
}

#baseMax
{
	margin-top: 430px;
	margin-left: 303px;
	position: absolute;
	line-height: 30px;
}

.numerHint
{
  margin-top: 430px;
	margin-left: 0px auto;
	
	width: 15px;
	position: absolute;
	
	font-family: Helvetica;
	font-size: 15pt;
	text-align: center;
}

.lineHint
{
  margin-top: 440px;
	margin-left: 0px;
	position: absolute;
}

.denomHint
{
  margin-top: 450px;
	margin-left: 0px auto;
	
	width: 15px;
	position: absolute;
	
	font-family: Helvetica;
	font-size: 15pt;
	text-align: center;
}


.ballClass
{
 /* Begins invisible */

	width: 40px;
	height: 40px;
	
	font-family: Helvetica;
	font-size: 28pt;
	text-align: center;
	line-height: 48px;

	position: absolute;
	top: 0px;
	left: 0px;
}

#numerator 
{
	top: -13px;
}

#denominator
{
	top: 8px;
}

#multiplication-problem 
{
	top: -4px;
}

.fraction-text 
{
	position: absolute;
	width: 40px;
	text-align: center;
	
	font-size: 12pt;
}

#pause-indicator {
	position: absolute;
	top:140px;
	left:0px;
	
	width: 320px;
	height: 60px;
}

#game-messageboard{
	position: absolute;
	top:250px;
	left:0px;
	
	width: 320px;
	height: 83px;
}

#game-over {
	position: absolute;
	top: 100px;
	left: 90px;
	width: 140px;
	height: 120px;
	border: 3px solid red;
	background: #0DBEFF;
	
	visibility: hidden;
}

#game-over-buttons {
	position: absolute;
	top: 35px;
	left: 23px;
	/*border: 3px solid purple;*/
}